.RecipeCard {
    display: flex;
    justify-content: space-around;
    align-content: center;
    width: 90%;
    border: 3px #133840 solid;
    border-radius: 2px;
    background-color: whitesmoke;
    padding-bottom: 0;
    margin: 2% auto;
}

.cardDetails {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    width: 50%;
}