.Recipe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: space-around;
    width: 90%;
    border: 3px black solid;
    background-color: whitesmoke;
    padding-bottom: 0;
    margin: 2% auto;
}

.recipeImage {
    background-repeat: no-repeat;
    background-size: cover;
    align-self: center;
    height: 100px;
}

img {
    size: 20%;
    margin: 1%;
}

.label {
    background-color: whitesmoke;
    /* opacity: 60%; */
    margin: 2% 10%;
}

h3 {
    text-transform: uppercase;
}

.bold {
    color: white;
    text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

h4 {
    text-transform: uppercase;
}

.details {
    display: flex;
    justify-content: space-between;
    background-color: whitesmoke;
    margin: 2%;
    /* opacity: 10; */
}

.ingredients {
    width: 60%;
}
/* 
.imageDiv {
    visibility: hidden;
    width: 100vh;
} */

/* Desktop design */
@media screen and (min-width: 768px) {
    .Recipe {
        background-image: none;
    }

    .imageDiv {
        visibility: visible;

    }

    .recipeImage {
        width: 25%;
    }
}
