.SearchForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
}

.searchForm {
    border: 2px solid #133840;
    border-radius: 2px;
    text-align: center;
    background-color: whitesmoke;
    padding: 50px;
}

.searchButton {
    align-self: center;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background-color: #92a742;
    border: 2px solid #2b4b40;
    border-radius: 2px;
    color: #fef49d;
    margin: 5px;
    padding: 10px;
}