body, html {
    height: 90vh;
    padding: 0;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90vh;
    width: 70vw;
    background-color: whitesmoke;
    margin: 2% auto;
    padding: 2%;
}

li {
    list-style: none;
}


/* Desktop design */
@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/background.jpg);
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}