body, html {
    height: 90vh;
    padding: 0;
}

.App {
    height: 85vh;
    width: 100vw;
    padding: 2%;
    /* Create the parallax scrolling effect */
    background-image: url(./images/background.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.components {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 90vw;
    height: 75vh;
    background-color: rgba(245,245,245,.7) ;
    margin: 2% auto;
    padding: 2%;
}

li {
    list-style: none;
}


/* Desktop design */
@media screen and (min-width: 768px) {
    body {
        background-image: url(./images/background.jpg);
        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}